<section class="home__label-section label-section label-section--right">
    <div class="label-section__content">
        <img src="/image/{{ image_baner_two }}" alt="Image" class="label-section__bg">
        <div class="label-section__body">
            <div class="label-section__text">
                {{ text_baner_two }}
            </div>
        </div>
    </div>
</section>