<section class="home__label-section home__label-section--margin label-section label-section--left">
    <div class="label-section__content">
        <img src="/image/{{ image_baner_one }}" alt="Image" class="label-section__bg">
        <div class="label-section__body">
            <div class="label-section__text">
               {{ text_baner_one }}
            </div>
        </div>
    </div>
</section>