<section class="home__partners partners-home">
    <div class="partners-home__containers">
        <div class="partners-home__header">
            <h2 class="partners-home__title title title--white">
                Наші ПАРТНЕРИ
            </h2>
            <div class="partners-home__text text text--white">
                <p>
                    Ми завжди ставимо наших клієнтів на перше місце та пишаємося тим, що працюємо з найкращими ресторанами
                    та кафе. Наші партнери довіряють нам свої проекти та повертаються знову і знову. Ось деякі з них:
                </p>
            </div>
        </div>
        <div class="partners-home__items">
            <a href="#" class="partners-home__item">
                <img src="/catalog/view/theme/accord_group/img/home/partners/01.webp" alt="Image" class="ibg">
            </a>
            <a href="#" class="partners-home__item">
                <img src="/catalog/view/theme/accord_group/img/home/partners/02.webp" alt="Image" class="ibg">
            </a>
            <a href="#" class="partners-home__item">
                <img src="/catalog/view/theme/accord_group/img/home/partners/03.webp" alt="Image" class="ibg">
            </a>
            <a href="#" class="partners-home__item">
                <img src="/catalog/view/theme/accord_group/img/home/partners/04.webp" alt="Image" class="ibg">
            </a>
        </div>
    </div>
</section>