<section class="home__readmore readmore">
    <div data-showmore="items" class="readmore__container">
        <div data-showmore-content="1" class="readmore__content text">
            <div>
                <h2>{{ h_seo_text }}</h2>
                {{ prev_seo_text }}
            </div>
            <div>
               {{ text_seo_home }}
            </div>
        </div>
        <button hidden data-showmore-button type="button" class="readmore__button _icon-arrow-down"><span>Показати
                ще</span><span>Сховати</span></button>
    </div>
</section>