<div class="home__subscribe subscribe-section">
    <div class="subscribe-section__container">
        <div class="subscribe-section__content">
            <img src="/catalog/view/theme/accord_group/img/home/subscribe/bg.webp" alt="Image" class="subscribe-section__bg ibg">
            <div class="subscribe-section__label">
                Підпишіться на нашу розсилку, щоб першими дізнаватися про нові статті та новини!
            </div>
            <form action="#" method="post" enctype="multipart/form-data" class="subscribe-section__form">
                <input type="email" placeholder="E-mail" class="subscribe-section__input">
                <button class="subscribe-section__button button button--green">Підписатись</button>
            </form>
        </div>
    </div>
</div>