Options +SymLinksIfOwnerMatch

# Prevent Directory listing
Options -Indexes


# Prevent Direct Access to files
<FilesMatch "(?i)((\.tpl|\.twig|\.ini|\.log|(?<!robots)\.txt))">
 Require all denied
</FilesMatch>

# SEO URL Settings
RewriteEngine On
# If your opencart installation does not run on the main web folder make sure you folder it does run in ie. / becomes /shop/

RewriteBase /

# 2. Видалення слеша в кінці URL для всіх сторінок, окрім виключень
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/(blog|another-exception)/?$ [NC]
RewriteRule ^(.*)/$ /$1 [L,R=301]

# 3. Додавання слеша для "каталожних" сторінок
RewriteCond %{REQUEST_URI} ^/(blog|another-exception)$ [NC]
RewriteRule ^(.*)$ /$1/ [L,R=301]

# 4. Стандартні OpenCart правила
RewriteCond %{QUERY_STRING} ^(.*)&?page=1$ 
RewriteRule ^(.*)/?$ /$1?%1%2 [R=301,L] #remove page=1 from url
RewriteRule ^sitemap.xml$ index.php?route=extension/feed/google_sitemap [L]
RewriteRule ^googlebase.xml$ index.php?route=extension/feed/google_base [L]
RewriteRule ^system/storage/(.*) index.php?route=error/not_found [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !.*\.(ico|gif|jpg|jpeg|png|js|css)
RewriteRule ^([^?]*) index.php?_route_=$1 [L,QSA]