

<div id="search" class=" header__search search-header _icon-search">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="search-header__input" />
  
    <button type="button" class="search-header__button button">
      {{ text_search2 }}
    </button>

</div>
